* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* (10 / 16) * 100 = 62.5% */
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    height: 100vh;
    font-size: 1.2rem;
    position: relative;
}
.navbar {
    margin: 2rem 4rem;
}
.navbar__list {
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar__list-item {
    display: inline-block;
}
.navbar__list-item:not(:last-child){
    margin-right: 2rem;
}

.list-3 {
    margin-left: auto;
}

.btn {
    color: #fff;
    background-color: #4683ea;
    padding: .6rem 1.5rem;
    border-radius: .4rem;
}

.search {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    padding: 2rem 3rem;

    text-align: center;
}

.search__input {
    width: 90%;
    border-radius: 1000rem;
    border: 1px solid rgba(179, 177, 177, .8);
    outline: none;
    margin-top: 3rem;
    padding: 1.2rem 1.5rem;
}

.search__input:hover {
    box-shadow: 0px 3px 11px -2px rgba(179, 177, 177, .8);
}

.search__buttons {
    margin: 2.5rem auto;
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.search__btn:link,
.search__btn:visited {
    text-decoration: none;
    color: #5F6368;
    background-color: #f2f2f2;
    padding: 1rem 2rem;
    border-radius: .8rem;
}

.search__btn:hover,
.search__btn:active {
    background-color: #cccaca;
}